@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image:linear-gradient(0deg, rgb(0, 0, 0) -19.5%,rgba(0, 0, 0, 0.473) 100%), url(./images/make-happy.jpg);
    height: 1150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero-contant{
    font-family: "Wittgenstein", serif;
    width: 100%;
    
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:10px;
}
.subtitle{
    width: 70%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    }
.main-title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;  
}

.btn button{
    width: 270px;
    height: 66px;
    font-family: "Wittgenstein", serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 180, 29);
}
.btn button:hover{
    background-color: rgb(32, 211, 211);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
    color: rgb(0, 0, 0);
}