@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image:linear-gradient(0deg, rgb(0, 0, 0) -19.5%,rgba(0, 0, 0, 0.473) 100%), url(./images/make-happy.jpg);
    height: 1150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero-contant{
    font-family: "Wittgenstein", serif;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:10px;
}
.subtitle{
    width: 70%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    }
.main-title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;  
}

.btn button{
    width: 270px;
    height: 66px;
    font-family: "Wittgenstein", serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 180, 29);
}
.btn button:hover{
    background-color: rgb(32, 211, 211);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
    color: rgb(0, 0, 0);
}
#images{
   width: 100%;
}
.card-box{
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
   
}
.container{
    color: rgb(16, 16, 16);
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}
.card{
    
    display: flex;
    flex-direction:column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .shop{
    border-radius: 8px;
    background: rgba(83, 195, 3, 0.418);
    padding: 10px 28px 10px 28px;
    font-weight: 500;
    font-size: large;
    color: rgb(0, 0, 0);
}
#Services-menu{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.client{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    

}
.client .client-img{
   border: 2px solid rgba(95, 129, 92, 0.349);
   margin-bottom: 50px;
}
.client .client-img img{
    width: 100%;
    height: 100%;
}
.text-contant{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;
    font-size: larger;
}
.text-contant h2{
    padding: 10px ;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.37);
    border-top: 1px solid rgba(16, 16, 16, 0.411); 
}